@font-face {
    font-family: 'Founders Grotesk';
    src: local('Founders Grotesk'), local('Founders Groteskilroy-Medium'),
        url('FoundersGrotesk-Regular-1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
