@font-face {
    font-family: 'Founders Grotesk Bold';
    src: local('Founders Grotesk Bold'), local('Founders Groteskilroy Bold'),
        url('FoundersGrotesk-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
