body {
  margin: 0;
}

.navbar {
  position: relative;
  margin-top: 32px;
  margin-left: 500px;
}
.navbar .container .nav-bar {
  display: flex;
  gap: 32px;
}
.navbar .container .nav-bar a {
  text-decoration: none;
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #3B5062;
}
.navbar .container .nav-bar ul {
  list-style-type: none;
  display: flex;
}
.navbar .container .nav-bar .right {
  gap: 32px;
}
.navbar .container .nav-bar .l-6 {
  width: 134px;
  height: 40px;
  background: #2373BA;
  border-radius: 4px;
  border: none;
  padding: 8px 16px;
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 8px;
  cursor: pointer;
}
.navbar .container .nav-bar .l-6:hover {
  box-shadow: 0px 2px 7px rgb(0, 0, 0);
  color: #11395D;
  background: rgba(219, 216, 216, 0.877);
  transform: translateY(-5px);
  transition: all 0.3s ease 0s;
}

.hero-section {
  position: relative;
  display: flex;
  width: 1180px;
  height: 491px;
  background: #D3E3F1;
  border-radius: 16px;
  margin: 3em 24px 0px 5.6em;
}
.hero-section .lef h1 {
  font-family: "Founders Grotesk Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 57px;
  line-height: 80px;
  display: flex;
  color: #161F28;
  margin-top: 60px;
  margin-left: 60px;
}
.hero-section .lef p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #161F28;
  margin-left: 60px;
  margin-top: -20px;
}
.hero-section .lef .broken-circle {
  position: absolute;
  width: 270px;
  height: 91px;
  left: 44px;
  top: 124px;
}
.hero-section .lef .buttons {
  display: flex;
  margin-left: 60px;
  margin-top: 64px;
}
.hero-section .lef .buttons .but-1 {
  padding: 16px 32px;
  gap: 8px;
  background: #11395D;
  border-radius: 8px;
  border: none;
  font-family: "Founders Grotesk Bold";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  cursor: pointer;
}
.hero-section .lef .buttons .but-1:hover {
  box-shadow: 0px 2px 7px rgb(0, 0, 0);
  color: #11395D;
  background: rgba(219, 216, 216, 0.877);
  transform: translateY(-5px);
  transition: all 0.3s ease 0s;
}
.hero-section .lef .buttons .but-2 {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  color: #11395D;
  text-decoration: none;
  margin-left: 15px;
  margin-top: 20px;
}
.hero-section .lef .buttons .but-2:hover {
  color: #2373BA;
}
.hero-section .lef .buttons .but-2 span {
  font-size: 16px;
  font-weight: 400;
  transform: scale(1, 1);
  margin-left: 0.4em;
}
.hero-section .rig {
  margin-left: 21px;
  border-top-right-radius: 16px;
}

.line {
  border: 0.5px solid #939393;
  width: 1180px;
  margin-top: 32px;
}

.logo-lines {
  display: flex;
  margin-top: 32px;
  place-content: space-evenly;
}
.logo-lines .line-1 {
  width: 222.35px;
  height: 41.47px;
}
.logo-lines .line-2 {
  width: 290.4px;
  height: 41.7px;
}
.logo-lines .line-3 {
  width: 159.66px;
  height: 53.22px;
}
.logo-lines .line-4 {
  width: 284px;
  height: 42px;
}

.aline {
  margin-top: 32px;
  border: 0.5px solid #939393;
  width: 1180px;
}

.para-1 {
  position: relative;
  display: flex;
  width: 1180px;
  height: 522px;
  background: #0C263E;
  border-radius: 16px;
  margin: auto;
  margin-top: 64px;
}
.para-1 .money {
  width: 489.85px;
  height: 394px;
  margin: 64px;
}
.para-1 .written-aspect {
  margin: auto;
}
.para-1 .written-aspect .pay {
  width: 65px;
  padding: 3px 8px;
  opacity: 0.8;
  background: rgba(182, 208, 232, 0.3);
  box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
  border-radius: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #D3E3F1;
  margin-left: 25px;
}
.para-1 .written-aspect h1 {
  margin-left: 25px;
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  color: #F0F6FA;
}
.para-1 .written-aspect p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* or 188% */
  color: #F0F6FA;
}
.para-1 .written-aspect a {
  margin-left: 25px;
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  /* Leisurepay/Primary/50 */
  color: #D3E3F1;
  text-decoration: none;
}
.para-1 .written-aspect a:hover {
  color: #2373BA;
}
.para-1 .written-aspect a span {
  margin: 0.5em;
  margin-top: 0.6em;
}

.para-2 {
  position: relative;
}
.para-2 .head {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 51px;
  line-height: 61px;
  display: flex;
  align-items: center;
  /* Leisurepay/Text/Header */
  color: #161F28;
  margin: 128px 0px 31.65px 85px;
}
.para-2 .boxes {
  display: flex;
  margin-left: 85px;
  gap: 85px;
}
.para-2 .boxes p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  /* or 188% */
  /* Leisurepay/Text/Header */
  color: #161F28;
}
.para-2 .boxes h1 {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  color: #161F28;
}
.para-2 .boxes .box-1 {
  padding: 32px;
  width: 270px;
  height: 230.35px;
  background: #F0F6FA;
  border-radius: 11.3408px;
}
.para-2 .boxes .box-1:hover {
  box-shadow: 0px 2px 7px rgb(0, 0, 0);
  color: #fff;
  transform: translateY(7px);
  transition: all 0.3s ease 0s;
}
.para-2 .boxes .box-2 {
  padding: 32px;
  width: 270px;
  height: 230.35px;
  background: #F0F6FA;
  border-radius: 11.3408px;
}
.para-2 .boxes .box-2:hover {
  box-shadow: 0px 2px 7px rgb(0, 0, 0);
  color: #fff;
  transform: translateY(7px);
  transition: all 0.3s ease 0s;
}
.para-2 .boxes .box-3 {
  padding: 32px;
  width: 270px;
  height: 230.35px;
  background: #F0F6FA;
  border-radius: 11.3408px;
}
.para-2 .boxes .box-3:hover {
  box-shadow: 0px 2px 7px rgb(0, 0, 0);
  color: #fff;
  transform: translateY(7px);
  transition: all 0.3s ease 0s;
}

.para-3 {
  position: relative;
  display: flex;
  width: 1180px;
  height: 522px;
  background: #D3E3F1;
  border-radius: 16px;
  margin: auto;
  margin-top: 64px;
}
.para-3 .w-aspect {
  margin: auto;
}
.para-3 .w-aspect .join {
  width: 65px;
  padding: 3px 8px;
  opacity: 0.8;
  background: rgba(35, 115, 186, 0.1);
  box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
  border-radius: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #2373BA;
}
.para-3 .w-aspect h1 {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  color: #161F28;
}
.para-3 .w-aspect p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* or 188% */
  color: #161F28;
}
.para-3 .w-aspect a {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  /* Leisurepay/Primary/50 */
  color: #D3E3F1;
  text-decoration: none;
  color: #161F28;
}
.para-3 .w-aspect a:hover {
  color: #2373BA;
}
.para-3 .w-aspect a span {
  margin: 0.5em;
  margin-top: 0.6em;
}
.para-3 .fine-girl {
  width: 489.85px;
  height: 394px;
  margin: auto;
}

.para-4 {
  display: flex;
}
.para-4 .left {
  margin-top: 30px;
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #161F28;
  margin-left: 35px;
}
.para-4 .left p {
  margin-left: 35px;
}
.para-4 .right {
  display: flex;
  margin-left: 24em;
  margin-top: 64px;
  gap: 83px;
}
.para-4 .right ul {
  list-style-type: none;
}
.para-4 .right a {
  text-decoration: none;
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* Leisurepay/Text/Header */
  color: #161F28;
}
.para-4 .right .row-1 .l1:hover {
  color: rgba(94, 94, 255, 0.897);
}
.para-4 .right .row-1 .l2:hover {
  color: rgba(94, 94, 255, 0.897);
}
.para-4 .right .row-1 .l3:hover {
  color: rgba(94, 94, 255, 0.897);
}
.para-4 .right .row-1 .l4:hover {
  color: rgba(94, 94, 255, 0.897);
}
.para-4 .right .row-1 .l5:hover {
  color: rgba(94, 94, 255, 0.897);
}
.para-4 .right .row-1 .l6:hover {
  color: rgba(94, 94, 255, 0.897);
}
.para-4 .right .row-2 .l1:hover {
  color: rgba(94, 94, 255, 0.897);
}
.para-4 .right .row-2 .l2:hover {
  color: rgba(94, 94, 255, 0.897);
}
.para-4 .right .row-2 .l3:hover {
  color: rgba(94, 94, 255, 0.897);
}
.para-4 .right .row-3 .l1:hover {
  color: rgba(94, 94, 255, 0.897);
}
.para-4 .right .row-3 .l2:hover {
  color: rgba(94, 94, 255, 0.897);
}
.para-4 .right .row-3 .l3:hover {
  color: rgba(94, 94, 255, 0.897);
}
.para-4 .right .row-3 .l4:hover {
  color: rgba(94, 94, 255, 0.897);
}
.para-4 .right .row-3 .l5:hover {
  color: rgba(94, 94, 255, 0.897);
}

.last-line {
  margin-top: 32px;
  border: 0.5px solid #939393;
  width: 1220px;
}

p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
p span {
  color: rgba(71, 71, 238, 0.829);
  margin-left: 5px;
  margin-right: 5px;
}
p span:hover {
  color: rgba(250, 77, 77, 0.897);
}/*# sourceMappingURL=wallet-style.css.map */